<app-presentation [activeImageUrl]="activeImageUrl" [running]="running" (nextSlide)="nextSlide()"></app-presentation>
<h2>Presentation Roulette!</h2>
<p>Upload images to be used as slides and click <strong>Start presentation</strong> to get a randomized presentation.
  Click each image to advance to the next slide. When all slides have been viewed, select additional images to add more
  or click existing image previews to remove them.</p>
<div class="image-preview-row">
  <ng-container *ngFor="let imageUrl of imageUrls">
    <img class="image-preview" [src]="imageUrl" (click)="removeImage(imageUrl)" [alt]="imageUrl">
  </ng-container>
</div><br/>
<input type="file" multiple (change)="selectFiles($event)">
<br/>
<br/>
<button (click)="startPresentation()">Start presentation</button>
